build/
dist/
.DS_Store
.idea/
.vscode/
__pycache__/

*.pyc
*.class
*.egg-info
*.swp
results/
atest/testdata/keyfiles/id_rsa
atest/docker/results
examples/output.xml
examples/log.html
examples/report.html

log.html
report.html
output.xml